# MANIPULATING TABULAR DATA

https://cyberhelp.sesync.org/census-data-manipulation-in-R-lesson/
## Lesson Objectives

* Review what makes a dataset tidy.
* Meet a complete set of functions for most table manipulations.
* Learn to transform datasets with split-apply-combine procedures.
* Understand the basic join operation.

## Specific Achievements

* Reshape data frames with pandas
* Summarize data by groups with pandas
* Combine multiple data frame operations with pipes
* Combine multiple data frames with “joins” (merge)

Data frames occupy a central place in Python data analysis pipelines. The panda package provide the objects and most necessary tools to subset, reformat and transform data frames. The key functions in both packages have close counterparts in SQL (Structured Query Language), which provides the added bonus of facilitating translation between python and relational databases.


## Tidy Concept
Most time is spent on cleaning and wrangling data rather than analysis. In 2014, Hadley Wickam (R developer at RStudio) published a paper that defines the concepts underlying tidy datasets. Hadley Wickam defined tidy datasets as those where:

* each variable forms a column (also called field)
* each observation forms a row
* each type of observational unit forms a table

These guidelines may be familiar to some of you—they closely map to best practices for “normalization” in database design.It correspond to the 3rd normal form’s described by Codd 1990 but uses the language of statical analysis rather than relationtional database.

Consider a data set where the outcome of an experiment has been recorded in a perfectly appropriate way:

bloc	drug	control	placebo
1	0.22	0.58	0.31
2	0.12	0.98	0.47
3	0.42	0.19	0.40
The response data are present in a compact matrix, as you might record it on a spreadsheet. The form does not match how we think about a statistical model, such as:

response ~ block + treatment

In a tidy format, each row is a complete observation: it includes the response value and all the predictor values. In this data, some of those predictor values are column headers, so the table needs to be reshaped. The pandas package provides functions to help re-organize tables.

The third principle of tidy data, one table per category of observed entities, becomes especially important in synthesis research. Following this principle requires holding tidy data in multiple tables, with associations between them formalized in metadata, as in a relational database.

Datasets split across multiple tables are unavoidable in synthesis research, and commonly used in the following two ways (often in combination):

* two tables are “un-tidied” by joins, or merging them into one table
* statistical models conform to the data model through a hierarchical structure or employing “random effects”

The pandas package includes several functions that all perform variations on table joins needed to “un-tidy” your tables, but there are only two basic types of table relationships to recognize:

* One-to-one relationships allow tables to be combined based on the same unique identifier (or “primary key”) in both tables.
* Many-to-one relationships require non-unique “foreign keys” in the first table to match the primary key of the second.

## Worksheet

## Wide to long

The pandas package’s melt function reshapes “wide” data frames into “long” ones.

In [ ]:
import pandas as pd
import numpy as np
trial_df = pd.DataFrame({"block": [1,2,3],
              "drug": [0.22,0.12,0.42],
              "control": [0.58,0.98,0.19],
              "placebo": [0.31,0.47,0.40]})
trial_df.head()

In [ ]:
tidy_trial_df = pd.melt(trial_df,
                  id_vars=['block'],
                  var_name='treatment',
                  value_name='response')
tidy_trial_df.head()

All columns, accept for “block”, are stacked in two columns: a “key” and a “value”. The key column gets the name treatment and the value column receives the name response. For each row in the result, the key is taken from the name of the column and the value from the data in the column.

## Long to wide

Data can also fail to be tidy when a table is too long. The Entity-Attribute-Value (EAV) structure common in large databases distributes multiple attributes of a single entity/observation into separate rows.

Remember that the exact state of “tidy” may depend on the analysis: the key is knowing what counts as a complete observation. For example, the community ecology package vegan requires a matrix of species counts, where rows correspond to species and columns to sites. This may seem like too “wide” a format, but in the packages several multi-variate analyses, the abundance of a species across multiple sites is considered a complete observation.

Consider survey data on participant’s age and income stored in a EAV structure.

Use the "pivot" function to go from long format to wide.

In [ ]:
df2 = tidy_trial_df.pivot(index='block',
                          columns='treatment',
                          values='response')
df2 = df2.reset_index()
df2.columns

In [ ]:
df2.reset_index()

In [ ]:
df2

Consider survey data on participant’s age and income stored in a EAV structure.

In [ ]:
from io import StringIO, BytesIO

text_string = StringIO("""
participant,attr,val
1,age,24
2,age,57
3,age,13
1,income,30
2,income,60
""")

survey_df = pd.read_csv(text_string, sep=",")
survey_df

Transform the data with the pivot function, which “reverses” a melt. These are equivalent to spread and gather in the dplyr r package.

In [ ]:
tidy_survey = survey_df.pivot(index='participant',
                          columns='attr',
                          values='val')
print(tidy_survey.head())

In [ ]:
tidy_survey = tidy_survey.reset_index()
tidy_survey.columns

In [ ]:
tidy_survey.reset_index()

Note that "reset_index" adds the index as a column. It generates a new inde starting from 0 to the number of rows minus 1.

In [ ]:
tidy_survey

## Sample Data
To learn about data transformation with pandas, we need more data. The Census Bureau collects subnational economic data for the U.S., releasing annual County Business Patterns (CBP) datasets including the number of establishments, employment, and payroll by industry. They also conduct the American Community Survey (ACS) and publish, among other demographic and economic variables, estimates of median income for individuals working in different industries.

* County Business Patterns (CBP)
* American Community Survey (ACS)

In [ ]:
import pandas as pd
cbp = pd.read_csv('data/cbp15co.csv')
cbp.describe()

In [ ]:
print(cbp.dtypes)

See the CBP dataset documentation for an explanation of the variables we don’t discuss in this lesson.

Modify the import to clean up this read: consider the data type for FIPS codes along with what string in this CSV file represents NAs, a.k.a. data that is not-available or missing.

In [ ]:

import numpy as np
import pandas as pd

cbp = pd.read_csv(
  'data/cbp15co.csv',
  na_values = "NULL",
  keep_default_na=False,
  dtype =  {"FIPSTATE": np.str, 
  "FIPSCTY": np.str}
  )

### Question
What changed?
### Answer
Using dtypes() shows that the character string "" in the CSV file is no longer read into R as missing data (an NA) but as an empty string. The two named “FIPS” columns are now correctly read as strings.

In [ ]:
import pandas as pd
import numpy as np
acs =  pd.read_csv(
  'data/ACS/sector_ACS_15_5YR_S2413.csv',
  dtype = {"FIPS": np.str}
  )

Now let’s display the data types

In [ ]:
#acs.dtypes
print(acs.dtypes)

The two datasets both contain economic variables for each U.S. county and specified by different categories of industry. The data could potentially be manipulated into a single table reflecting the follow statistical model.

median_income ~ industry + establishment_size

### Key Functions
Function	Returns
query	keep rows that satisfy conditions
assign	apply a transformation to existing [split] columns
['col1', 'col2']	select and keep columns with matching names
merge	merge columns from separate tables into one table
groupby	split data into groups by an existing factor
agg	summarize across rows to use after groupby [and combine split groups]
The table above summarizes the most commonly used functions in pandas, which we will demonstrate in turn on data from the U.S. Census Bureau.

## Typical Data Manipulation Functions

## Filter Pattern matching
The cbp table includes character NAICS column. Of the 2 million observations, lets see how many observations are left when we keep only the 2-digit NAICS codes, representing high-level sectors of the economy.

In [ ]:

#import pandas as pd
cbp2 = cbp[cbp['NAICS'].str.contains("----")]
cbp2 = cbp2[~cbp2.NAICS.str.contains("-----")]
cbp2.head()

Note that a logical we used the function contains from pandas to filter the dataset in two steps. The function contains allows for pattern matching of any character within strings. The ~ is used to remove the rows that contains specific patterns.

Filtering string often uses pattern matching by regular expressions which may be a bit more manageable, and streamlines the operations.

In [ ]:
cbp3 = cbp[cbp['NAICS'].str.contains('[0-9]{2}----')]
cbp3.head()

## Altering, updating and transforming columns
The assign function is the pandas answer to updating or altering your columns. It performs arbitrary operations on existing columns and appends the result as a new column of the same length.

Here are two ways to create a new column using assign and the [ ] operators.

In [ ]:
cbp3["FIPS"] = cbp3["FIPSTATE"]+cbp3["FIPSCTY"]

In [ ]:
cbp3.assign(FIPS2=lambda x: x['FIPSTATE']+x['FIPSCTY'])

In [ ]:
cbp3.shape

In [ ]:
cbp3.head()

## Select
To keep particular columns of a data frame (rather than filtering rows), use the filter or [ ] functions with arguments that match column names.

In [ ]:
cbp2.columns

One way to “match” is by including complete names, each one you want to keep:

In [ ]:
cbp3 = cbp3[['FIPS','NAICS','N1_4', 'N5_9', 'N10_19']] 
cbp3.head()

Alternatively, we can use the filter function to select all columns starting with N or matching with ‘FIPS’ or ‘NAICS’ pattern. The filter command is useful when chaining methods (or piping operations).

In [ ]:
cbp4= cbp.filter(regex='^N|FIPS|NAICS',axis=1) 
cbp4.head()

## Join
The CBP dataset uses FIPS to identify U.S. counties and NAICS codes to identify types of industry. The ACS dataset also uses FIPS but their data may aggregate across multiple NAICS codes representing a single industry sector.

In [ ]:

sector =  pd.read_csv(
  'data/ACS/sector_naics.csv',
  dtype = {"NAICS": np.int64})
print(sector.dtypes)

In [ ]:
print(cbp.dtypes)

In [ ]:
cbp.head()
cbp.dtypes
cbp.head()

In [ ]:
print(sector.dtypes)
print(sector.shape) #24 economic sectors
sector.head()

Probably the primary challenge in combining secondary datasets for synthesis research is dealing with their different sampling frames. A very common issue is that data are collected at different “scales”, with one dataset being at higher spatial or temporal resolution than another. The differences between the CBP and ACS categories of industry present a similar problem, and require the same solution of re-aggregating data at the “lower resolution”.

## Many-to-One
Before performing the join operation, some preprocessing is necessary to extract from the NAICS columns the first two digits matching the sector identifiers.

In [ ]:

logical_idx = cbp['NAICS'].str.match('[0-9]{2}----') #boolean index
cbp = cbp.loc[logical_idx]
cbp.head()

In [ ]:
cbp.shape

In [ ]:
cbp['NAICS']= cbp.NAICS.apply(lambda x: np.int64(x[0:2])) # select first two digits

In [ ]:
#Many to one to join economic sector code to NAICS

cbp_test = cbp.merge(sector, on = "NAICS", how='inner')
cbp_test.head()

In [ ]:
print(cbp_test.shape)

The NAICS field in the cbp table can have the same value multiple times, it is not a primary key in this table. In the sector table, the NAICS field is the primary key uniquely identifying each record. The type of relationship between these tables is therefore “many-to-one”.

### Question
Note that we lost a couple thousand rows through this join. How could cbp have fewer rows after a join on NAICS codes?
### Answer
The CBP data contains an NAICS code not mapped to a sector—the “error code” 99 is not present in sector. The use of “error codes” that could easilly be mistaken for data is frowned upon.

## Group By
A very common data manipulation procedure know as “split-apply-combine” tackles the problem of applying the same transformation to subsets of data while keeping the result all together. We need the total number of establishments in each size class aggregated within each county and industry sector.

The pandas function groupby begins the process by indicating how the data frame should be split into subsets.

In [ ]:

cbp["FIPS"] = cbp["FIPSTATE"]+cbp["FIPSCTY"]
cbp = cbp.merge(sector, on = "NAICS")

cbp_grouped = cbp.groupby(['FIPS','Sector'])
cbp_grouped

At this point, nothing has really changed:

In [ ]:
cbp_grouped.dtypes

The groupby statement generates a groupby data frame. You can add multiple variables (separated by commas) in groupby; each distinct combination of values across these columns defines a different group.

## Summarize

The operation to perform on each group is summing: we need to sum the number of establishments in each group. Using pandas functions, the summaries are automically combined into a data frame.

In [ ]:

grouped_df = (cbp
.groupby(['FIPS', 'Sector']) 
.agg('sum')
.filter(regex='^N')
.drop(columns=['NAICS'])
)

grouped_df.head(5)

The “combine” part of “split-apply-combine” occurs automatically, when the attributes introduced by groupby are dropped. You can see attributes by running the dtypes function on the data frame.

There is now a one-to-one relationship between cbp and acs, based on the combination of FIPS and Sector as the primary key for both tables.

In [ ]:
print(grouped_df.shape)

In [ ]:
print(acs.shape)

In [ ]:
acs_cbp = grouped_df.merge(acs,on='FIPS',)
print(acs_cbp.shape)

In [ ]:
acs_cbp.head()

Again, however, the one-to-one relationship does not mean all rows are preserved by the join. The specific nature of the inner_join is to keep all rows, even duplicating rows if the relationship is many-to-one, where there are matching values in both tables, and discarding the rest.

The acs_cbp table now includes the median_income variable from the ACS and appropriatey aggregated establishment size information (the number of establishments by employee bins) from the CBP table.

In [ ]:
acs_cbp.head()

## Additional Resources
The following cheat sheets and tutorials repeat much of this lesson, but also provide information on additional functions for “data wrangling”.

* Data Wrangling Cheat Sheet
* Tidyverse In Pandas
* String and Text With Pandas

The first is a set of cheat sheets created by pydata.org, and provides a handy, visual summary of all the key functions discussed in this lesson. It also lists some of the auxiliary functions that can be used within each type of expression, e.g. aggregation functions for summarize, “moving window” functions for mutate, etc. For those familiar with the tidyverse univers, please consult the second link.

In [ ]:
acs_cbp.head()